{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}Enviar Planilha{% endblock %}

{% block Main %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="row">
                    <div class="col">{{ form.empresa|bootstrap }}</div>
                </div>
            <div class="row">
                <div class="col-2">{{ form.mes|bootstrap }}</div>
                <div class="col-3">{{ form.ano|bootstrap}}</div>
            </div>
            <div class="row">
                <div class="col-sm-9">{{ form.planilha|bootstrap }}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="{% url 'listar_planilhas' %}">
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </a>
                </div>
            </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}

