{% extends 'base.html' %}
{% load static %}
{% load empresas_filtro %}

{% block title %} Empresas Cadastradas {% endblock %}

{% block Main %}
<h4 style="text-align: center">Contatos Bizanha</h4>
    <br/>
    <div class="table-responsive table-sm">
        <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
        <br/>
        <div class="texto-pequeno">{{qtd}} - Cadastrados</div>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr class="cab">
                    <th>Código</th>
                    <th>Empresa/Nome</th>
                    {% for tipo in tipo_telefone %}
                        <th>{{tipo.tipo_telefone}}</th>
                    {% endfor %}
                    <th>
                        <a href="{% url 'criar_empresas' %}"><img src="{% static 'icones/add_white.png' %}"></img></a>
                    </th>
                </tr>
            </thead>
            {% for empresa in empresas %}
                <tbody id="myTable">
                    <tr>
                        <td>{{empresa.codigo|cod4}}</td>
                        <td>
                            <a href="{% url 'ler' empresa.id %}">{{empresa.razao|razao }}</a>
                        </td>
                        {% for telefone in telefones %}
                            <td class="fone">
                                {% if empresa.id == telefone.empresa_id and telefone.tipo_id == 1 %}
                                    <div class="row-center">
                                        {{ telefone.num }} {{telefone.pessoa|em_branco}}
                                    </div>
                                {% endif %}
                            </td>
                            <td class="fone">
                                {% if empresa.id == telefone.empresa_id and telefone.tipo_id == 2 %}
                                    <div class="row-center">
                                        {{ telefone.num }} {{telefone.pessoa|em_branco}}
                                    </div>
                                {% endif %}
                            </td>
                            <td class="fone">
                                {% if empresa.id == telefone.empresa_id and telefone.tipo_id == 3 %}
                                    <div class="row-center">
                                        {{ telefone.num }} {{telefone.pessoa|em_branco}}
                                    </div>
                                {% endif %}
                            </td>
                        {% endfor %}

                        <td style="text-align: right">
                            <a href="{% url 'listar_telefones' empresa.id %}"><img src="{% static 'icones/phone1.png' %}"></img></a>
                            <a href="{% url 'listar_user' empresa.id %}"><img src="{% static 'icones/user1.png' %}"></img></a>
                            <a href="{% url 'listar_certificados' empresa.id %}"><img src="{% static 'icones/certificado1.jpg' %}"></img></a>
                            <a href="{% url 'deletar' empresa.id %}"><img src="{% static 'icones/del.png' %}"></img></a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
