{% extends 'base.html' %}
{% load static %}
{% load empresas_filtro %}

{% block title %}{{empresa.razao}}{% endblock %}

{% block Main %}
<h3>Telefones - {{ empresa.razao }}</h3>
    <br/>

    <div style="overflow-x:auto;">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo</th>
                    <th>Número</th>
                    <th>Pessoa</th>
                    <th style="text-align: right"><a href="{% url 'criar_telefones' empresa.id %}"><img src="{% static 'icones/add_white.png' %}"></img></a></th>
                    <th></th>
                </tr>
                {% for telefone in telefones %}
                    <tr>
                        <td>{{ telefone.tipo }}</td>
                        <td><a href="{% url 'atualizar_telefones' telefone.id %}">{{ telefone.num }}</a></td>
                        <td>{{ telefone.pessoa|em_branco }}</td>
                        <td style="text-align: right">
                            <a href="{% url 'deletar_telefones' empresa.id telefone.id %}"><img src="{% static 'icones/del.png' %}"></img></a>
                        </td>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
{% endblock %}
