{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}Cadastrar Telefone{% endblock %}

{% block Main %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h4>{{ empresa.razao }}</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                    <div class="col">{{ form.empresa|bootstrap }}</div>
                </div>
                <div class="row">
                    <div class="col">{{ form.tipo|bootstrap }}</div>
                    <div class="col">{{ form.num|bootstrap }}</div>
                </div>
                <div class="row">
                    <div class="col">{{ form.pessoa|bootstrap }}</div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a href="{% url 'listar_empresas' %}">
                            <button type="button" class="btn btn-danger">Cancelar</button>
                        </a>
                    </div>
                </div>
                </form>
            </div>
            <div class="col-lg-4"></div>
        </div>
{% endblock %}
